.nav {
  font-size: 1.2em;
  padding-top: 2em;
}
.nav > a {
  text-decoration: none;
  color: black;
}
.nav > a:hover {
  color: aliceblue;
}

.img-navbar {
  width: 80px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid black;
}
.img-principal {
  margin-top: 4%;
  width: 40%;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.principal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo__sobreChuck {
  text-align: center;
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.conteudo__sobreChuck {
  text-align: justify;
}
.texto__sobreChuck {
  width: 80%;
  text-align: left;
}

.img__sobreChuck {
  right: 20px;
  top: 50%;
  width: 50%;
  text-align: right;
}

.img__sobreChuck > .img1 {
  max-width: 100%;
  height: auto;
  border: 5px solid rgb(255, 136, 0);
  margin-top: 20px;
}

.img__sobreChuck > .img2 {
  max-width: 100%;
  height: auto;
  border: 5px solid rgb(255, 136, 0);
  margin-top: 20px;
  width: 87%;
  margin-bottom: 20px;
}

.subtitulo__sobreChuck {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  font-size: 24px;
}

.seta {
  display: flex;
  width: 15px;
  margin-top: 48px;

  margin-right: 10px;
  align-items: center;
  justify-content: left;
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}
.container--piada {
  margin: 17% 26% 0 26%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card-piada {
  margin: 0;
  padding-top: 15px;
  width: 40%;
  height: 40%;
  /* display: flex;
  justify-content: center; */
}
.img--piada {
  padding-right: 15px;
  background: none;
  width: 160px;
}
.container-botao-piada {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
#botao-piada {
  margin-top: 30px;
  border: none;
  padding: 7px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
