.layout-navbar {
  background-color: rgb(255, 136, 0);
  height: 100px;
  width: 100%;
}

.layout-sobreChuck{
  display: flex;
  justify-content: space-between;
  align-items: top;
  min-height: 100vh;
  padding: 0 20px;
}